.input,
.inputNotCorrect,
.inputCorrect {
  width: calc(360px + (453 - 360) * ((100vw - 480px) / (1920 - 480)));
  height: 60px;
  border: 1px solid #C3C2BF;
  font-size: 20px;
  padding-left: 20px;
  outline: none;
}

.inputNotCorrect {
  border: 1px solid #CF1D1D;
}

.inputCorrect {
  border: 1px solid #232323;
}

@media (max-width: 1270px) {
  .input {
    box-sizing: border-box;
    width: 360px;
  }
}